<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>meteo</title>
    <meta http-equiv="Content-Type" content="text/html ; charset=UTF-8" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div th:replace="~{fragments/navigation :: navigation}"> </div>

    <h1>Result</h1>
    <p th:text="'Adresse: ' + ${meteo}" />
    <p th:text="'coordinates: ' + ${coords}" />
    <p th:text="'meteo: ' + ${met} + 'C'" />
    <a href="/adress">Submit another adress</a>
</body>
</html>